<h4>图书列表</h4>

<button class="btn btn-default" ng-click="ctrl.add()">添加图书</button>

<table class="table table-hover table-condensed table-border-out">
  <thead>
    <tr>
      <th>ID</th>
      <th>名称</th>
      <th>作者</th>
      <th>价格</th>
      <th>库存</th>
      <th>类型</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in ctrl.books track by $index">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.author}}</td>
      <td>{{item.price}}</td>
      <td>{{item.stock}}</td>
      <td>{{item.category}}</td>
      <td>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" ng-click="ctrl.update($index)">修改</button>
          <button type="button" class="btn btn-default" ng-click="ctrl.delete($index)">删除</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
